<div class="container posts-board">
    <div class="row">
      <div class="col-lg-8 col-offset-2">
        <h2 class="help-title">Instructions</h2>
        <p class="help-p lead"> It's noticeable that you are not allowed to sign up in the web interface</p>
        <p class="help-p lead mt-3"> No biggie, To propperly use the appication use the Rails console to create users.</p>
        <ul class="list-group">
            <li class="list-group-item">Type: <span class="console-text"> rails console </span></li>
            <li class="list-group-item">Create a user using: <span class="console-text"> User.create(username: "username", email: "email", password: "password", password_confirmation: "password" </span></li>
            <li class="list-group-item">Run the server et Voila!</li>
        </ul>
        <h3>Enjoy the gossiping!</h3>
      </div>
    </div>
</div>
