<div class="container posts-new">
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="italic">A new Scam, how interesting...</h1>
  </div>
</div>
  <%= render 'form', post: @post %>
</div>
