/*app/assets/stylesheets/custom.scss*/
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap');


:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

.login,
.image {
  min-height: 100vh;
}

.bannertext{
  color: white;
  font-family: 'Spartan', sans-serif;
  font-weight: bold;
  font-size: 7rem;
}

.error-messages {
  position: absolute;
  left: 1%;
  margin-top: 1%;
}

.bannersubtext{
  color: white;
  font-family: 'Spartan', sans-serif;
  font-size: 3rem;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.bg-image {
  background-image: url("login.png");
  background-size: cover;
  background-position: center;
}

.sessions-new, .static-home {
  margin-top: 50px;
  height: auto;
}

.posts-board, .posts-new {
  margin-top: 100px;
}

.login-heading {
  font-weight: 300;
}

.leftimg {
  height: 850px;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
  border-radius: 2rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.logininput, .loginlabel {
  padding: var(--input-padding-y) var(--input-padding-x);
  height: auto;
  border-radius: 2rem;
  width: auto;
}

.loginlabel {
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
